## 從檔案讀取資料

In [1]:
import pandas

In [5]:
?pandas.read_csv

In [3]:
df = pandas.read_csv('C:\\Users\\Student\\Downloads\\table.csv')

In [6]:
df.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2016-09-29  185.5  187.5  185.5  187.0  54272000      187.0
1  2016-09-28  183.5  183.5  183.5  183.5         0      183.5
2  2016-09-27  183.5  183.5  183.5  183.5         0      183.5
3  2016-09-26  183.5  185.0  183.0  183.5  24225000      183.5
4  2016-09-23  185.0  187.5  184.5  187.0  23213000      187.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 7 columns):
Date         1300 non-null object
Open         1300 non-null float64
High         1300 non-null float64
Low          1300 non-null float64
Close        1300 non-null float64
Volume       1300 non-null int64
Adj Close    1300 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 71.2+ KB

In [11]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Student\\Downloads\\table.csv', parse_dates={'Dates' : [0]})
df.head()

       Dates   Open   High    Low  Close    Volume  Adj Close
0 2016-09-29  185.5  187.5  185.5  187.0  54272000      187.0
1 2016-09-28  183.5  183.5  183.5  183.5         0      183.5
2 2016-09-27  183.5  183.5  183.5  183.5         0      183.5
3 2016-09-26  183.5  185.0  183.0  183.5  24225000      183.5
4 2016-09-23  185.0  187.5  184.5  187.0  23213000      187.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 7 columns):
Dates        1300 non-null datetime64[ns]
Open         1300 non-null float64
High         1300 non-null float64
Low          1300 non-null float64
Close        1300 non-null float64
Volume       1300 non-null int64
Adj Close    1300 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 71.2 KB

## 從網路接口讀取資料

In [16]:
import pandas.io.data as web
?web.DataReader

In [17]:
df = web.DataReader('2330.TW', start='2000-01-01', data_source='yahoo')

##  DataFrame 的基本操作

In [19]:
df.head()

               Open     High      Low    Close     Volume  Adj Close
Date
2000-01-04  83.0813  83.0813  81.6811  83.0813  149083800    29.6180
2000-01-05  83.0813  84.9482  82.1478  84.9482  299016300    30.2836
2000-01-06  84.4815  84.9482  83.0813  83.0813  146768300    29.6180
2000-01-07  80.2809  81.6811  79.3474  80.7476  174796200    28.7861
2000-01-10  83.0813  84.0148  81.6811  83.5480  205184200    29.7844

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4212 entries, 2000-01-04 to 2016-09-29
Data columns (total 6 columns):
Open         4212 non-null float64
High         4212 non-null float64
Low          4212 non-null float64
Close        4212 non-null float64
Volume       4212 non-null int64
Adj Close    4212 non-null float64
dtypes: float64(5), int64(1)
memory usage: 230.3 KB

In [22]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4212.000000,4212.000000,4212.000000,4212.000000,4.212000e+03,4212.000000
mean,77.325861,78.029915,76.579408,77.343440,5.497440e+07,61.506530
std,32.625065,32.765626,32.455218,32.639817,3.151764e+08,36.634914
min,32.201900,32.938000,32.109900,32.754000,0.000000e+00,20.446400
25%,55.263000,56.123300,54.700000,55.290750,3.138765e+07,36.801275
50%,64.000000,64.887850,63.328300,64.000000,4.308650e+07,45.870450
75%,92.912250,94.283200,91.949500,92.672850,6.112425e+07,75.282150
max,185.500000,187.500000,185.500000,187.000000,2.040451e+10,187.000000

In [31]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [33]:
df['Close'].min()

32.753999999999998

In [34]:
df['Close'].max()

187.0

In [35]:
df['Close'].count()

4212

In [36]:
df[['Close', 'Volume']].min()

Close     32.754
Volume     0.000
dtype: float64

In [37]:
df[['Close', 'Volume']].max()

Close     1.870000e+02
Volume    2.040451e+10
dtype: float64

In [38]:
df[['Close', 'Volume']].head()

              Close     Volume
Date
2000-01-04  83.0813  149083800
2000-01-05  84.9482  299016300
2000-01-06  83.0813  146768300
2000-01-07  80.7476  174796200
2000-01-10  83.5480  205184200

In [39]:
df[['Close', 'Volume']].tail()

            Close    Volume
Date
2016-09-23  187.0  23213000
2016-09-26  183.5  24225000
2016-09-27  183.5         0
2016-09-28  183.5         0
2016-09-29  187.0  54272000

## 中位數與平均數

In [24]:
import pandas
s = pandas.Series([162,165,170,178,180])
s.describe()

count      5.000000
mean     171.000000
std        7.874008
min      162.000000
25%      165.000000
50%      170.000000
75%      178.000000
max      180.000000
dtype: float64

In [30]:
import pandas
s = pandas.Series(['162','165','170','178','180'])
s.describe()

count       5
unique      5
top       170
freq        1
dtype: object

In [25]:
mean_v = (162 + 165 +170 + 178 + 180) / 5
mean_v

171

In [27]:
import pandas
s = pandas.Series([110,120,90,150,600])
s.describe()

count      5.000000
mean     214.000000
std      216.864013
min       90.000000
25%      110.000000
50%      120.000000
75%      150.000000
max      600.000000
dtype: float64

In [28]:
v_50per = [90, 110, 120, 150, 600][2]
v_50per

120

## Pandas 資料篩選

In [42]:
df[['Open', 'Close']].head()

               Open    Close
Date
2000-01-04  83.0813  83.0813
2000-01-05  83.0813  84.9482
2000-01-06  84.4815  83.0813
2000-01-07  80.2809  80.7476
2000-01-10  83.0813  83.5480

In [45]:
a = [130,160,170,120,180]
for e in a:
    if e >= 150:
        print e

160
170
180

In [46]:
import pandas
a = pandas.Series([130,160,170,120,180])
b = pandas.Series([False, True, True, False, True])
a[b]

1    160
2    170
4    180
dtype: int64

In [47]:
df['Close'] >= 150
df[df['Close'] >= 150].head()

             Open   High    Low  Close    Volume  Adj Close
Date
2015-02-24  149.0  152.0  148.5  151.0  72531000   140.8235
2015-02-25  152.5  154.5  152.5  154.5  48183000   144.0876
2015-02-26  153.5  154.0  150.5  150.5  55574000   140.3572
2015-02-27  150.5  150.5  150.5  150.5         0   140.3572
2015-03-03  150.0  151.0  148.5  150.5  29134000   140.3572

In [51]:
df[df.index == '2015-02-24']

             Open   High    Low  Close    Volume  Adj Close
Date
2015-02-24  149.0  152.0  148.5  151.0  72531000   140.8235

In [53]:
(df['Close']>=150) & (df.index>='2016-01-01')
df[(df['Close']>=150) & (df.index>='2016-01-01')].head()

             Open   High    Low  Close    Volume  Adj Close
Date
2016-02-18  150.0  151.0  149.5  151.0  61657000   145.3019
2016-02-19  149.0  151.0  149.0  151.0  35668000   145.3019
2016-02-22  149.5  152.5  149.5  151.0  27003000   145.3019
2016-02-25  149.0  151.0  148.5  150.5  25202000   144.8208
2016-03-01  148.5  152.0  148.5  152.0  38629000   146.2642

In [54]:
df['Close'].min()

32.753999999999998

## 資料排序

In [57]:
df.sort_values('Close').head()

               Open     High      Low    Close     Volume  Adj Close
Date
2002-10-08  32.2019  32.9380  32.1099  32.7540  106257100    23.0169
2002-10-11  34.0420  34.2260  32.6619  32.8459  105725900    23.0815
2002-10-07  34.5020  34.5020  33.1219  33.1219   58350300    23.2755
2002-10-09  32.7540  34.5940  32.4779  33.1219  131366300    23.2755
2002-10-03  36.1581  36.1581  34.6861  34.6861   73547100    24.3747

In [59]:
?df.sort_values
#df.sort_values('Close').tail()

In [60]:
df.sort_values('Close', ascending=False).head()

             Open   High    Low  Close    Volume  Adj Close
Date
2016-09-29  185.5  187.5  185.5  187.0  54272000      187.0
2016-09-23  185.0  187.5  184.5  187.0  23213000      187.0
2016-09-22  185.0  185.5  183.5  185.0  20980000      185.0
2016-09-07  180.5  185.0  180.0  185.0  49761000      185.0
2016-09-21  181.0  184.0  180.5  184.0  25008000      184.0

## 資料轉換

In [63]:
df['Stock_Change'] = ((df['Close'] - df['Open']) / df['Open'])

In [65]:
df.head()

,Open,High,Low,Close,Volume,Adj Close,Stock_Change
Date,,,,,,,
2000-01-04,83.0813,83.0813,81.6811,83.0813,149083800,29.6180,0.000000
2000-01-05,83.0813,84.9482,82.1478,84.9482,299016300,30.2836,0.022471
2000-01-06,84.4815,84.9482,83.0813,83.0813,146768300,29.6180,-0.016574
2000-01-07,80.2809,81.6811,79.3474,80.7476,174796200,28.7861,0.005813
2000-01-10,83.0813,84.0148,81.6811,83.5480,205184200,29.7844,0.005617

In [67]:
def updown(price):
    tag='平盤'
    if price>0.02:
        tag='大漲'
    elif price>0.01:
        tag='漲' 
    elif price<-0.02:
        tag='大跌'
    elif price<-0.01:
        tag='跌'
    return tag

In [69]:
df['Stock_Change_Tag'] = df['Stock_Change'].map(lambda e : updown(e))

In [71]:
df['Stock_Change_Tag'].value_counts()

平盤    2527
跌      571
漲      519
大漲     314
大跌     281
Name: Stock_Change_Tag, dtype: int64

## Lambda Function

In [73]:
def e2(a):
    return a * a

e2(3)

9

In [74]:
e3 = lambda e : e * e
e3(3)

9

## 資料分組計算

In [76]:
df.head()

,Open,High,Low,Close,Volume,Adj Close,Stock_Change,Stock_Change_Tag
Date,,,,,,,,
2000-01-04,83.0813,83.0813,81.6811,83.0813,149083800,29.6180,0.000000,平盤
2000-01-05,83.0813,84.9482,82.1478,84.9482,299016300,30.2836,0.022471,大漲
2000-01-06,84.4815,84.9482,83.0813,83.0813,146768300,29.6180,-0.016574,跌
2000-01-07,80.2809,81.6811,79.3474,80.7476,174796200,28.7861,0.005813,平盤
2000-01-10,83.0813,84.0148,81.6811,83.5480,205184200,29.7844,0.005617,平盤

In [80]:
df['trading_ym']= df.index.strftime('%Y-%m-01')

In [82]:
# select trading_ym, avg(close) 
# from df gorup by trading_ym
df.groupby('trading_ym')['Close'].mean()

trading_ym
2000-01-01     87.095330
2000-02-01     95.461229
2000-03-01     92.050970
2000-04-01     90.385945
2000-05-01     89.705813
2000-06-01     90.158718
2000-07-01     82.517471
2000-08-01     79.238370
2000-09-01     71.251495
2000-10-01     59.567209
2000-11-01     60.395486
2000-12-01     51.036085
2001-01-01     56.103113
2001-02-01     56.835158
2001-03-01     52.346871
2001-04-01     50.901660
2001-05-01     55.208655
2001-06-01     54.456430
2001-07-01     52.235952
2001-08-01     55.239583
2001-09-01     48.386457
2001-10-01     46.237662
2001-11-01     59.484852
2001-12-01     70.039562
2002-01-01     74.315260
2002-02-01     70.084375
2002-03-01     77.686771
2002-04-01     77.547376
2002-05-01     71.988486
2002-06-01     63.776420
                 ...
2014-04-01    120.000000
2014-05-01    120.590909
2014-06-01    123.857143
2014-07-01    128.739130
2014-08-01    123.071429
2014-09-01    124.340909
2014-10-01    125.021739
2014-11-01    135.175000
2014-12-01    137.173913
2015-01-01    138.636364
2015-02-01    147.450000
2015-03-01    148.636364
2015-04-01    146.113636
2015-05-01    146.714286
2015-06-01    142.386364
2015-07-01    138.347826
2015-08-01    127.380952
2015-09-01    127.045455
2015-10-01    136.863636
2015-11-01    139.595238
2015-12-01    141.891304
2016-01-01    136.833333
2016-02-01    147.400000
2016-03-01    156.456522
2016-04-01    157.071429
2016-05-01    149.545455
2016-06-01    161.818182
2016-07-01    169.575000
2016-08-01    176.086957
2016-09-01    180.214286
Name: Close, dtype: float64