## 使用Pandas 讀取 csv 資料

In [21]:
import pandas
df = pandas.read_csv('lvr_data.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,area,trading_target,address,land_sqmeter,city_land_type,trading_ymd,trading_num,floor,...,living_room,bath,compartment,management,total_price,price_per_sqmeter,parking_type,parking_sqmeter,parking_price,trading_ym
0,0,0,大安區,房地(土地+建物),臺北市大安區和平東路三段1巷72弄1~30號,19.39,住,2012-06-29,土地1建物2車位0,五層,...,2,1,有,有,18680000,184999.0,NaN,0.0,0,2012-06-01
1,1,1,中正區,房地(土地+建物),臺北市中正區忠孝東路二段121~150號,8.46,商,2012-07-18,土地3建物1車位0,九層,...,0,0,有,有,20300000,217307.0,NaN,0.0,0,2012-07-01
2,2,2,大同區,土地,橋北段二小段601~630地號,5.50,其他,2012-07-27,土地1建物0車位0,NaN,...,0,0,有,無,132096,24017.0,NaN,0.0,0,2012-07-01
3,3,3,大同區,房地(土地+建物),臺北市大同區重慶北路一段61~90號,3.88,商,2012-07-10,土地4建物1車位0,六層,...,1,1,有,有,4200000,114317.0,NaN,0.0,0,2012-07-01
4,4,4,內湖區,房地(土地+建物),臺北市內湖區民權東路六段90巷6弄1~30號,32.41,住,2012-07-10,土地1建物1車位0,三層,...,1,1,有,無,14000000,134473.0,NaN,0.0,0,2012-07-01

## 刪除包含. 的欄位

In [22]:
del df['Unnamed: 0']

In [23]:
del df['Unnamed: 0.1']

In [25]:
df.head()

,area,trading_target,address,land_sqmeter,city_land_type,trading_ymd,trading_num,floor,total_floor,building_type,...,living_room,bath,compartment,management,total_price,price_per_sqmeter,parking_type,parking_sqmeter,parking_price,trading_ym
0,大安區,房地(土地+建物),臺北市大安區和平東路三段1巷72弄1~30號,19.39,住,2012-06-29,土地1建物2車位0,五層,十七層,住宅大樓(11層含以上有電梯),...,2,1,有,有,18680000,184999.0,NaN,0.0,0,2012-06-01
1,中正區,房地(土地+建物),臺北市中正區忠孝東路二段121~150號,8.46,商,2012-07-18,土地3建物1車位0,九層,十二層,辦公商業大樓,...,0,0,有,有,20300000,217307.0,NaN,0.0,0,2012-07-01
2,大同區,土地,橋北段二小段601~630地號,5.50,其他,2012-07-27,土地1建物0車位0,NaN,NaN,其他,...,0,0,有,無,132096,24017.0,NaN,0.0,0,2012-07-01
3,大同區,房地(土地+建物),臺北市大同區重慶北路一段61~90號,3.88,商,2012-07-10,土地4建物1車位0,六層,十一層,住宅大樓(11層含以上有電梯),...,1,1,有,有,4200000,114317.0,NaN,0.0,0,2012-07-01
4,內湖區,房地(土地+建物),臺北市內湖區民權東路六段90巷6弄1~30號,32.41,住,2012-07-10,土地1建物1車位0,三層,五層,公寓(5樓含以下無電梯),...,1,1,有,無,14000000,134473.0,NaN,0.0,0,2012-07-01

## 連結MongoDB
- 在Terminal（命令提示字元） 下 打入 mongod 啟用Mongo

In [43]:
import pymongo

In [44]:
from pymongo import MongoClient
client=MongoClient()
db=client['lvr']
coll=db['lvrdata']

In [28]:
import json
records = json.loads(df.T.to_json()).values()

In [29]:
len(records)

102054

## 將資料塞入mongodb

In [64]:
coll.insert([{'a':1}])

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  if __name__ == '__main__':

[ObjectId('58003d37d18b5e1290500792')]

In [ ]:
coll.insert(records)

## 將資料從MongoDB 取回

In [40]:
cur=coll.find()

In [41]:
df2 = pandas.DataFrame(list(cur))

In [42]:
df2.head()

,_id,address,area,bath,building_sqmeter,building_type,built_with,city_land_type,compartment,finish_ymd,...,parking_sqmeter,parking_type,price_per_sqmeter,room,total_floor,total_price,trading_num,trading_target,trading_ym,trading_ymd
0,58003a6cd18b5e12904e78d9,臺北市士林區葫蘆街54巷1~30號,士林區,1,73.01,公寓(5樓含以下無電梯),加強磚造,住,有,1969-02-04,...,0.00,None,113683.0,2,三層,8300000,土地1建物1車位0,房地(土地+建物),2015-09-01,2015-09-16
1,58003a6cd18b5e12904e78da,德惠段二小段481~510地號,中山區,0,0.00,其他,None,其他,有,None,...,0.00,None,40445.0,0,None,1200000,土地2建物0車位0,土地,2013-11-01,2013-11-20
2,58003a6cd18b5e12904e78db,臺北市松山區敦化南路一段100巷7弄1~30號,松山區,0,10.11,其他,鋼筋混凝土造,住,有,2014-05-21,...,10.11,升降機械,NaN,0,七層,1900000,土地0建物0車位1,車位,2015-10-01,2015-10-02
3,58003a6cd18b5e12904e78dc,臺北市信義區光復南路511~540號,信義區,1,27.33,套房(1房1廳1衛),鋼筋混凝土造,商,有,2000-11-24,...,0.00,None,256129.0,1,十三層,7000000,土地1建物1車位0,房地(土地+建物),2015-08-01,2015-08-17
4,58003a6cd18b5e12904e78dd,臺北市信義區莊敬路423巷4弄1~30號,信義區,2,73.75,公寓(5樓含以下無電梯),鋼筋混凝土造,住,有,1972-11-05,...,0.00,None,216949.0,2,四層,16000000,土地1建物1車位0,房地(土地+建物),2015-10-01,2015-10-02

In [74]:
import requests
import json
url = 'https://maps.googleapis.com/maps/api/geocode/json'
params={'sensor':'false',
        'address':'臺北市士林區葫蘆街54巷1~30號'}
#'臺北市士林區葫蘆街54巷1~30號'
res = requests.get(url,params=params)
location = res.json()['results'][0]['geometry']['location']
print(location['lat'])
print(location['lng'])

25.0806196
121.5090532

In [76]:
import geocoder
g=geocoder.google('臺北市士林區葫蘆街54巷1~30號')
g.latlng

[25.0806196, 121.5090532]

In [101]:
import MySQLdb 
import geocoder
db = MySQLdb.connect(host    = "localhost",
                     user    = "root",
                     passwd  = "test",
                     db      = "lvr",
                     charset = 'utf8')
cur=db.cursor()
df2=pd.read_sql('select * from lvr_data',con=db)
db.close()

In [ ]:
import MySQLdb 
import geocoder
db = MySQLdb.connect(host    = "localhost",
                     user    = "root",
                     passwd  = "test",
                     db      = "lvr",
                     charset = 'utf8')
cur=db.cursor()

for idx, rec in df2.iterrows():
    g=geocoder.google(rec['address'])
    try:
        lat, lng = g.latlng

        # update lvr_data set lng = 25, lat = 121 where index = 0
        #print(lat, lng)
        cur.execute('update lvr_data set lng = {}, lat = {} where `index` = {}'.format(lng, lat, rec['index']))
        db.commit()
    except:
        pass
    
db.close()

In [100]:
df2

,index,area,trading_target,address,land_sqmeter,city_land_type,trading_ymd,trading_num,floor,total_floor,...,compartment,management,total_price,price_per_sqmeter,parking_type,parking_sqmeter,parking_price,trading_ym,lat,lng
0,0,大安區,房地(土地+建物),臺北市大安區和平東路三段1巷72弄1~30號,19.39,住,2012-06-29,土地1建物2車位0,五層,十七層,...,有,有,18680000,184999.0,None,0.0,0,2012-06-01,25.0250,121.548
1,1,中正區,房地(土地+建物),臺北市中正區忠孝東路二段121~150號,8.46,商,2012-07-18,土地3建物1車位0,九層,十二層,...,有,有,20300000,217307.0,None,0.0,0,2012-07-01,25.0427,121.532
2,2,大同區,土地,橋北段二小段601~630地號,5.50,其他,2012-07-27,土地1建物0車位0,None,None,...,有,無,132096,24017.0,None,0.0,0,2012-07-01,34.2420,108.939

## proxies 
- https://www.us-proxy.org/

In [123]:
import requests
import json

def getmylocation(address):
    proxies = {
      'http': 'http://45.55.46.54:80',
      'https': 'http://45.55.46.54:80',
    }
    url = 'https://maps.googleapis.com/maps/api/geocode/json'
    params={'sensor':'false',
            'address':address}
    #'臺北市士林區葫蘆街54巷1~30號'
    res = requests.get(url,params=params,proxies=proxies)
    print(res.json())
    location = res.json()['results'][0]['geometry']['location']
    return (location['lat'], location['lng'])

In [ ]:
getmylocation

## 更新Mongo 內存的經緯度資料

In [125]:
import pymongo
from pymongo import MongoClient
client = MongoClient()
db     = client['lvr']
coll   = db['lvrdata']
cur    = coll.find()

In [ ]:
for rec in cur.limit(30):
    print rec['address']
    g=getmylocation(rec['address'])
    try:
        print g
        #lat, lng= g.latlng
        coll.update({'_id':rec['_id']},{'$set':{'lat':lat,'lng':lng}})
    except:
        continue

In [ ]:
cur    = coll.find().limit(30)
for rec in cur.limit(30):
    if 'lat' in rec:
        print rec

## 畫地圖

In [128]:
import MySQLdb 
import geocoder
db = MySQLdb.connect(host    = "localhost",
                     user    = "root",
                     passwd  = "test",
                     db      = "lvr",
                     charset = 'utf8')
cur = db.cursor()
lvr = pd.read_sql('select * from lvr_data where lat > 0',con=db)
db.close()

In [130]:
lvr.to_excel('lvr_with_location.xlsx')

In [131]:
lvr.head()

,index,area,trading_target,address,land_sqmeter,city_land_type,trading_ymd,trading_num,floor,total_floor,...,compartment,management,total_price,price_per_sqmeter,parking_type,parking_sqmeter,parking_price,trading_ym,lat,lng
0,0,大安區,房地(土地+建物),臺北市大安區和平東路三段1巷72弄1~30號,19.39,住,2012-06-29,土地1建物2車位0,五層,十七層,...,有,有,18680000,184999.0,None,0.0,0,2012-06-01,25.0250,121.548
1,1,中正區,房地(土地+建物),臺北市中正區忠孝東路二段121~150號,8.46,商,2012-07-18,土地3建物1車位0,九層,十二層,...,有,有,20300000,217307.0,None,0.0,0,2012-07-01,25.0427,121.532
2,2,大同區,土地,橋北段二小段601~630地號,5.50,其他,2012-07-27,土地1建物0車位0,None,None,...,有,無,132096,24017.0,None,0.0,0,2012-07-01,34.2420,108.939
3,3,大同區,房地(土地+建物),臺北市大同區重慶北路一段61~90號,3.88,商,2012-07-10,土地4建物1車位0,六層,十一層,...,有,有,4200000,114317.0,None,0.0,0,2012-07-01,25.0513,121.514
4,4,內湖區,房地(土地+建物),臺北市內湖區民權東路六段90巷6弄1~30號,32.41,住,2012-07-10,土地1建物1車位0,三層,五層,...,有,無,14000000,134473.0,None,0.0,0,2012-07-01,25.0682,121.586

## 使用Selenium 取得Facebook ID 資訊

## Chrome Driver
- http://chromedriver.storage.googleapis.com/index.html?path=2.24/

In [144]:
# -*-coding: utf-8 -*-
from selenium import webdriver
import time
driver=webdriver.Chrome()
driver.implicitly_wait(30)
base_url="https://www.facebook.com/"
driver.get(base_url)
driver.find_element_by_id("email").clear()
driver.find_element_by_id("email").send_keys("RogerCarte@rediffmail.com")
driver.find_element_by_id("pass").clear()
driver.find_element_by_id("pass").send_keys("ohXaeto7vie")
driver.find_element_by_id("u_0_l").click()
time.sleep(3)


driver.find_element_by_xpath("(//input[@name='q'])[2]").clear()
driver.find_element_by_xpath("(//input[@name='q'])[2]").send_keys("JacquelineBrody552@rediffmail.com")
time.sleep(3)

[]

In [ ]:
from bs4 import BeautifulSoup as bs
soup=bs(driver.page_source)

In [156]:
print soup.select('#facebar_typeahead_view_list li a')[1]['href']

https://www.facebook.com/profile.php?id=100012840247457&fref=ts

## 啟用Flask

In [ ]:
# hello.py
from flask import Flask
app=Flask(__name__)

@app.route("/")
def hello():
    return"Hello World!"

if __name__=="__main__":
    app.run()

## 使用Flask 取得Mongo 內的資料

In [161]:
# house.py
from flask import Flask,jsonify
from flask.ext.pymongo import PyMongo
app=Flask(__name__)
app.config["MONGO_DBNAME"]="lvr"
mongo=PyMongo(app)

@app.route("/")
def getHouse():
    cur=mongo.db.lvrdata.find().limit(30)
    # house_list = []
    # for house in cur
    #     house_list.append({'address': house['address']})
    house_list=[{'address':house['address'],
                 'area':house['area'],
                 'total_price':house['total_price']}
                  for house in cur]
    return jsonify({"data":house_list})
if __name__=="__main__":
    app.run()

C:\Anaconda2\lib\site-packages\flask\exthook.py:71: ExtDeprecationWarning: Importing flask.ext.pymongo is deprecated, use flask_pymongo instead.
  .format(x=modname), ExtDeprecationWarning

In [ ]:
# house2.py
from flask import Flask,jsonify
from flask.ext.pymongo import PyMongo
app=Flask(__name__)
app.config["MONGO_DBNAME"]="lvr"
mongo=PyMongo(app)

@app.route("/area/<area>")
def getHouse(area):
    cur=mongo.db.lvrdata.find({'area':area}).limit(30)
    house_list=[{'address':house['address'],
                 'area':house['area'],
                 'total_price':house['total_price']}
                  for house in cur]
    return jsonify({"data":house_list})
if __name__=="__main__":
    app.run()

In [ ]:
# house3.py
from flask import Flask,jsonify
from flask.ext.pymongo import PyMongo
app=Flask(__name__)
app.config["MONGO_DBNAME"]="lvr"
mongo=PyMongo(app)

@app.route("/area/", methods=['POST'])
def getHouse(area):
    if request.method=='POST':
        area=request.form['area']
        cur=mongo.db.lvrdata.find({'area':area}).limit(30)
        house_list=[{'address':house['address'],
                     'area':house['area'],
                     'total_price':house['total_price']}
                      for house in cur]
        return jsonify({"data":house_list})
    
if __name__=="__main__":
    app.run()

In [ ]:
# house4.py
from flask import Flask,jsonify,request
from flask.ext.pymongo import PyMongo
app=Flask(__name__)
app.config["MONGO_DBNAME"]="lvr"
mongo=PyMongo(app)

@app.route("/area/<area>/<page>")
def getHouse(area, page):
    cnt=mongo.db.lvrdata.find({'area':area}).count()
    cur=mongo.db.lvrdata.find({'area':area}).skip(30*(int(page)-1)).limit(30)
    house_list=[{'address':house['address'],
                 'area':house['area'],
                 'total_price':house['total_price']}
                  for house in cur]
    return jsonify({"data":house_list,'count':cnt})
    
if __name__=="__main__":
    app.run()

## 抓取資料服務

In [160]:
import requests
import json
import pandas
res = requests.get('http://127.0.0.1:5000')
jd = json.loads(res.text)
df = pandas.DataFrame(jd['data'])
df.head()

                   address area  total_price
0        臺北市士林區葫蘆街54巷1~30號  士林區      8300000
1          德惠段二小段481~510地號  中山區      1200000
2  臺北市松山區敦化南路一段100巷7弄1~30號  松山區      1900000
3       臺北市信義區光復南路511~540號  信義區      7000000
4     臺北市信義區莊敬路423巷4弄1~30號  信義區     16000000

In [163]:
import requests
import json
import pandas
res = requests.get('http://127.0.0.1:5000/area/萬華區')
jd = json.loads(res.text)
df = pandas.DataFrame(jd['data'])
df.head()

                   address area  total_price
0  臺北市萬華區西園路二段320巷36弄1~30號  萬華區      5900000
1      臺北市萬華區德昌街185巷61~90號  萬華區     10200000
2      臺北市萬華區中華路二段511~540號  萬華區      7750000
3        臺北市萬華區漢口街二段31~60號  萬華區     13000000
4    臺北市萬華區中華路二段504巷31~60號  萬華區      5650000

In [171]:
import requests
import json
import pandas
payload = {
'area': '南港區'
}
res = requests.post('http://127.0.0.1:5000/area/', data = payload)
#print res.text
jd = json.loads(res.text)
df = pandas.DataFrame(jd['data'])
df.head()

                address area  total_price
0  臺北市南港區經貿二路157巷31~60號  南港區     75280000
1  臺北市南港區向陽路258巷91~120號  南港區     12350000
2  臺北市南港區經貿二路157巷31~60號  南港區     67200000
3       臺北市南港區園區街31~60號  南港區     38000000
4    臺北市南港區玉成街201巷1~30號  南港區     14200000