## 處理XML 資料

In [3]:
import xml.etree.ElementTree as ET
tree = ET.parse('1.NBAGIR070_A20160908164642.xml')
root = tree.getroot()

In [5]:
root

In [6]:
ds = root.find('DataSet')

In [8]:
ds

In [22]:
for row in ds.iter('ROW'):
    print row.find('SEQNO').text,\
          row.find('LEVEL').text,\
          row.find(u'科目-名稱').text,\
          row.find(u'本月份預算數').text

1 01 基金來源 850000.00
2 02 徵收及依法分配收入 850000.00
3 03 違規罰款收入 850000.00
4 02 財產收入 None
5 03 利息收入 None
6 01 基金用途 617000.00
7 01 本期賸餘(短絀-) 233000.00
8 01 期末基金餘額 None

In [27]:
bond_list = []
for row in ds.iter('ROW'):
    bond_dic = {}
    for child in row:
        bond_dic[child.tag] = child.text
    bond_list.append(bond_dic)

In [29]:
import pandas as pd
df = pd.DataFrame(bond_list)
df

,BOLD,LEVEL,SEQNO,本年度截至本月份累計實際數,本年度截至本月份累計比較增減,本年度截至本月份累計比較增減-百分比,本年度截至本月份累計預算數,本年度法定預算數,本月份實際數,本月份比較增減,本月份比較增減-百分比,本月份預算數,科目-名稱,科目-編號
0,1,01,1,217463130.00,211973130.00,3861.08,5490000.00,12000000.00,4821000.00,3971000.00,467.18,850000.00,基金來源,4
1,1,02,2,217458000.00,211968000.00,3860.98,5490000.00,12000000.00,4821000.00,3971000.00,467.18,850000.00,徵收及依法分配收入,41
2,1,03,3,217458000.00,211968000.00,3860.98,5490000.00,12000000.00,4821000.00,3971000.00,467.18,850000.00,違規罰款收入,415
3,1,02,4,5130.00,5130.00,None,None,None,None,None,None,None,財產收入,45
4,1,03,5,5130.00,5130.00,None,None,None,None,None,None,None,利息收入,454
5,1,01,6,4155992.00,198992.00,5.03,3957000.00,10000000.00,603503.00,-13497.00,-2.19,617000.00,基金用途,5
6,1,01,7,213307138.00,211774138.00,13814.36,1533000.00,2000000.00,4217497.00,3984497.00,1710.08,233000.00,本期賸餘(短絀-),6
7,1,01,8,213307138.00,211774138.00,13814.36,1533000.00,2000000.00,None,None,None,None,期末基金餘額,73

In [32]:
df.to_csv('bond.csv', encoding= 'utf-8')
df.to_excel('bond.xlsx')

In [20]:
a = '在黄山始信峰附近，澎湃新闻发现部分游客裸露上身游览景区\
，还有一些游客不顾警示牌警告攀爬峭壁。而在黄山前山及飞来石附近\
一处休息区，一些游客将石榴皮随意丢弃，还有游客用手杖打松树果。'
# \ 一定要放在最後面
print a

在黄山始信峰附近，澎湃新闻发现部分游客裸露上身游览景区，还有一些游客不顾警示牌警告攀爬峭壁。而在黄山前山及飞来石附近一处休息区，一些游客将石榴皮随意丢弃，还有游客用手杖打松树果。

In [17]:
print ['科目-名稱']
print [u'科目-名稱']

['\xe7\xa7\x91\xe7\x9b\xae-\xe5\x90\x8d\xe7\xa8\xb1']
[u'\u79d1\u76ee-\u540d\u7a31']

## 讀取目錄夾下所有的XML 檔案

In [34]:
import os
import xml.etree.ElementTree as ET
bond_list = []

for xmlfile in os.listdir('xmldata'):
    tree = ET.parse('xmldata/' + xmlfile)
    root = tree.getroot()
    ds = root.find('DataSet')
    for row in ds.iter('ROW'):
        bond_dic = {}
        for child in row:
            bond_dic[child.tag] = child.text
        bond_list.append(bond_dic)

In [36]:
import pandas as pd
df = pd.DataFrame(bond_list)
df.to_excel('bond2.xlsx')

## 處理JSON 資料

In [48]:
import requests
payload = {
'parentId':'1003',
'lon':'121.5181',
'lat':'25.0410'  
}
res = requests.post('http://fscmobile.fsc.gov.tw/FscWebs/services/getFinanceInfos', data = payload)
#print res.text

In [49]:
import json
jd = json.loads(res.text)

In [53]:
for finance in jd['financeInfos']:
    title, addr, tel = finance['title'],finance['addr'],finance['tel']
    #print title, addr, tel

In [54]:
import pandas
df = pandas.DataFrame(jd['financeInfos'])
df.head()

,addr,distance,fax,id,idNumber,lat,lon,picUrl,tel,title,url
0,台北市中正區中山南路7號地下1樓,0.19140462862023078,,10030131414,0061346,25.04041,121.51988,http://163.29.133.20:8080/FscWs/images/1_ICON.png,02-23568071,合作金庫商業銀行台大分行,http://www.tcb-bank.com.tw
1,凱達格蘭大道2號129室,0.28884717223771683,,10030211219,0170860,25.038946,121.51635,http://163.29.133.20:8080/FscWs/images/1_ICON.png,02-23482066,兆豐國際商銀駐外交部簡易型分行,http://www.megabank.com.tw
2,台北市中正區襄陽路1號一、二樓,0.32562426633459907,,10031134190,8050023,25.043497,121.51642,http://163.29.133.20:8080/FscWs/images/1_ICON.png,02-23814567,遠東國際商業銀行台北襄陽分行,http://www.feib.com.tw
3,台北市襄陽路1號5樓,0.32562426633459907,,10031134199,8050126,25.043497,121.51642,http://163.29.133.20:8080/FscWs/images/1_ICON.png,02-23123636,遠東國際商業銀行信託部,http://www.feib.com.tw
4,台北市中正區中山南路一號一樓及地下一樓,0.3517530794964405,,1003008997,0041621,25.043894,121.5195,http://163.29.133.20:8080/FscWs/images/1_ICON.png,02-23411001,臺灣銀行群賢分行,http://www.bot.com.tw

In [51]:
df.count()

addr        3597
distance    3597
fax         3597
id          3597
idNumber    3597
lat         3597
lon         3597
picUrl      3597
tel         3597
title       3597
url         3597
dtype: int64