## 從檔案讀取資料

In [1]:
import pandas

In [5]:
?pandas.read_csv

In [3]:
df = pandas.read_csv('C:\\Users\\Student\\Downloads\\table.csv')

In [6]:
df.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2016-09-29  185.5  187.5  185.5  187.0  54272000      187.0
1  2016-09-28  183.5  183.5  183.5  183.5         0      183.5
2  2016-09-27  183.5  183.5  183.5  183.5         0      183.5
3  2016-09-26  183.5  185.0  183.0  183.5  24225000      183.5
4  2016-09-23  185.0  187.5  184.5  187.0  23213000      187.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 7 columns):
Date         1300 non-null object
Open         1300 non-null float64
High         1300 non-null float64
Low          1300 non-null float64
Close        1300 non-null float64
Volume       1300 non-null int64
Adj Close    1300 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 71.2+ KB

In [11]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Student\\Downloads\\table.csv', parse_dates={'Dates' : [0]})
df.head()

       Dates   Open   High    Low  Close    Volume  Adj Close
0 2016-09-29  185.5  187.5  185.5  187.0  54272000      187.0
1 2016-09-28  183.5  183.5  183.5  183.5         0      183.5
2 2016-09-27  183.5  183.5  183.5  183.5         0      183.5
3 2016-09-26  183.5  185.0  183.0  183.5  24225000      183.5
4 2016-09-23  185.0  187.5  184.5  187.0  23213000      187.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 7 columns):
Dates        1300 non-null datetime64[ns]
Open         1300 non-null float64
High         1300 non-null float64
Low          1300 non-null float64
Close        1300 non-null float64
Volume       1300 non-null int64
Adj Close    1300 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 71.2 KB

## 從網路接口讀取資料

In [16]:
import pandas.io.data as web
?web.DataReader

In [17]:
df = web.DataReader('2330.TW', start='2000-01-01', data_source='yahoo')

##  DataFrame 的基本操作

In [19]:
df.head()

               Open     High      Low    Close     Volume  Adj Close
Date
2000-01-04  83.0813  83.0813  81.6811  83.0813  149083800    29.6180
2000-01-05  83.0813  84.9482  82.1478  84.9482  299016300    30.2836
2000-01-06  84.4815  84.9482  83.0813  83.0813  146768300    29.6180
2000-01-07  80.2809  81.6811  79.3474  80.7476  174796200    28.7861
2000-01-10  83.0813  84.0148  81.6811  83.5480  205184200    29.7844

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4212 entries, 2000-01-04 to 2016-09-29
Data columns (total 6 columns):
Open         4212 non-null float64
High         4212 non-null float64
Low          4212 non-null float64
Close        4212 non-null float64
Volume       4212 non-null int64
Adj Close    4212 non-null float64
dtypes: float64(5), int64(1)
memory usage: 230.3 KB

In [22]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4212.000000,4212.000000,4212.000000,4212.000000,4.212000e+03,4212.000000
mean,77.325861,78.029915,76.579408,77.343440,5.497440e+07,61.506530
std,32.625065,32.765626,32.455218,32.639817,3.151764e+08,36.634914
min,32.201900,32.938000,32.109900,32.754000,0.000000e+00,20.446400
25%,55.263000,56.123300,54.700000,55.290750,3.138765e+07,36.801275
50%,64.000000,64.887850,63.328300,64.000000,4.308650e+07,45.870450
75%,92.912250,94.283200,91.949500,92.672850,6.112425e+07,75.282150
max,185.500000,187.500000,185.500000,187.000000,2.040451e+10,187.000000

In [31]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [33]:
df['Close'].min()

32.753999999999998

In [34]:
df['Close'].max()

187.0

In [35]:
df['Close'].count()

4212

In [36]:
df[['Close', 'Volume']].min()

Close     32.754
Volume     0.000
dtype: float64

In [37]:
df[['Close', 'Volume']].max()

Close     1.870000e+02
Volume    2.040451e+10
dtype: float64

In [38]:
df[['Close', 'Volume']].head()

              Close     Volume
Date
2000-01-04  83.0813  149083800
2000-01-05  84.9482  299016300
2000-01-06  83.0813  146768300
2000-01-07  80.7476  174796200
2000-01-10  83.5480  205184200

In [39]:
df[['Close', 'Volume']].tail()

            Close    Volume
Date
2016-09-23  187.0  23213000
2016-09-26  183.5  24225000
2016-09-27  183.5         0
2016-09-28  183.5         0
2016-09-29  187.0  54272000

## 中位數與平均數

In [24]:
import pandas
s = pandas.Series([162,165,170,178,180])
s.describe()

count      5.000000
mean     171.000000
std        7.874008
min      162.000000
25%      165.000000
50%      170.000000
75%      178.000000
max      180.000000
dtype: float64

In [30]:
import pandas
s = pandas.Series(['162','165','170','178','180'])
s.describe()

count       5
unique      5
top       170
freq        1
dtype: object

In [25]:
mean_v = (162 + 165 +170 + 178 + 180) / 5
mean_v

171

In [27]:
import pandas
s = pandas.Series([110,120,90,150,600])
s.describe()

count      5.000000
mean     214.000000
std      216.864013
min       90.000000
25%      110.000000
50%      120.000000
75%      150.000000
max      600.000000
dtype: float64

In [28]:
v_50per = [90, 110, 120, 150, 600][2]
v_50per

120